[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]

# Base
pipenv = "*"
ipython = "*"

# LLM
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-ollama = "*"
langchain-community = "*"
langchainhub = "*"
langsmith = "*"
openai = "*"
ollama = "*"

# Data Science
datadotworld = "*"
pandas = "*"
scipy = "*"
numpy = "*"
mpmath = "*"
python-Levenshtein = "*"
matplotlib = "*"

# Other
autoreload = "*"
vulture = "*"
setuptools = ">=70.0.0"

[dev-packages]

# IDE
pytest = "*"
black = "*"
pylint = "*"

# Security
safety = "*"
pip-audit = "*"
