[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
pipenv = "*"
urllib3 = "*"
autoreload = "*"
vulture = "*"
colored-traceback = "*"
setuptools = ">=70.0.0"
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-ollama = "*"
langchain-community = "*"
langchainhub = "*"
langsmith = "*"
langgraph = "*"
openai = "*"
ollama = "*"
datadotworld = "*"
pandas = "*"
scipy = "*"
numpy = "*"
mpmath = "*"
matplotlib = "*"
python-Levenshtein = "*"
torch = "*"
flax = "*"
jupyter = "*"
transformers = "*"
tensorflow = "*"
tf-keras = "*"
# IPython
ipykernel = "*"
ipython = "*"
# Audio & Voice Recognition, requires PyAudio os package
whisper = "*"
openai-whisper = "*"
speechrecognition = "*"
pyaudio = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
safety = "*"
pip-audit = "*"
ipykernel = "*"
notebook = "*"
